<div id="filters" class="sixteen columns">
  <ul id="iso-filters">
    <li><a href="#" data-filter="*">Show All</a></li>
    <li><a href="#" data-filter=".sell">Sell</a></li>
    <li><a href="#" data-filter=".rent">Rent</a></li>
    <li><a href="#" data-filter=".last2">Latest</a></li>
    <li><a href="#" data-filter=":not(.transition)">not transition</a></li>
    <li><a href="#" data-filter=".metal:not(.transition)">metal but not transition</a></li>
    </ul>
</div>
<div id="gallery" class="sixteen columns">
        <% @items.each do |item| %>
          <div class="item">
            <%= image_tag(item.assets[0].asset.url(:medium)) %>
          </div>
        <% end %>
</div>

<%= javascript_tag do %>
  
  $(function(){    
      $('#gallery').isotope({
        // options
        itemSelector : '.item',
        layoutMode : 'fitRows',
        filter: '.metal'
      });

      $('#iso-filters a').click(function(){
        var selector = $(this).attr('data-filter');
        $('#gallery ').isotope({ filter: selector });
        return false;
      });
  });
  
<% end %>